{% extends 'base.html.twig' %}

{% block title %}New Commentary{% endblock %}

{% block body %}
    <h1>Create new commentary</h1>

    {{ include('commentary/_form.html.twig') }}

    <a href="{{ path('home') }}">back to list</a>
{% endblock %}
